## 1.读取数据

In [14]:
import numpy as np
import pandas as pd

##读取数据
data = pd.read_excel("customer_data_V4.xlsx")
data=data.drop(['ID'], axis=1)#去除ID属性
Y=data.iloc[:,-1].values
data.head()

,age,marital,income,house,business,property,debt,job,credit,relation,class
0,1.0,1.0,0.333333,1.0,0.0,0.727273,1.0,1,0.0,0.50,1
1,1.0,1.0,0.333333,1.0,0.5,1.000000,1.0,1,1.0,0.75,1
2,1.0,1.0,1.000000,1.0,0.5,0.727273,0.5,1,0.8,0.75,1
3,1.0,1.0,0.000000,1.0,0.0,0.363636,1.0,0,1.0,0.00,0
4,1.0,1.0,0.333333,1.0,0.0,0.363636,0.5,1,0.8,0.00,0

In [ ]:
data=data.drop(['class'],axis=1)#去除class
indicator=data.columns.tolist()   ##指标个数
project=data.index.tolist()    ##方案数、评价主体
value=data.values
print(indicator)
print(project)
print(value)
data.head()

In [ ]:
###定义数据标准化函数。为了避免求熵值时对数无意义，对数据进行平移，对标准化后的数据统一加了常数0.001
def std_data(value,flag):
    for i in range(len(indicator)):
        print(flag[i])
        if flag[i]=='+':
            value[:,i]=(value[:,i]-np.min(value[:,i],axis=0))/(np.max(value[:,i],axis=0)-np.min(value[:,i],axis=0))+0.01
        elif flag[i]=='-':
            value[:,i]=(np.max(value[:,i],axis=0)-value[:,i])/(np.max(value[:,i],axis=0)-np.min(value[:,i],axis=0))+0.01
    return value

##数据标准化
flag=["+","+","+","+","+","+","+","+","+","+","+"]  ##表示指标为正向指标还是反向指标
std_value=std_data(value,flag)
std_value.round(3)

In [ ]:
#定义熵值法函数、熵值法计算变量的权重
def cal_weight(indicator,project,value):
    p= np.array([[0.0 for i in range(len(indicator))] for i in range(len(project))])                    
    #print(p)
    for i in range(len(indicator)):
        p[:,i]=value[:,i]/np.sum(value[:,i],axis=0)
        
    e=-1/np.log(len(project))*sum(p*np.log(p))      #计算熵值
    g=1-e     # 计算一致性程度
    w=g/sum(g)     #计算权重
    return w

##结果
w=cal_weight(indicator,project,value)
w=pd.DataFrame(w,index=data.columns,columns=['权重'])
print("#######权重:#######")
print(w)
score=np.dot(std_value,w).round(2)
score[0:10]

In [10]:
#import csv
#f = open('taobao1.csv', 'w', encoding='utf-8', newline="")
#csv_writer = csv.writer(f)
#csv_writer.writerow(["序号","score"])#可省略
#csv_writer.writerows(score)
#f.close()

PermissionError: [Errno 13] Permission denied: 'taobao1.csv'

In [ ]:
score_sort=pd.DataFrame(score,index=data.index,columns=['综合得分']).sort_values(by =['综合得分'],ascending = False)

In [ ]:
score_sort

检验

In [23]:
import numpy as np
import pandas as pd

##读取数据
data1 = pd.read_excel("副本customer_data_V5.xlsx")
pred=data1.iloc[:,-1].values
Y=data1.iloc[:,-2].values
data1.head()

,ID,age,marital,income,house,business,property,debt,job,credit,relation,class,pred
0,C001,1.0,1.0,0.333333,1.0,0.0,0.727273,1.0,1,0.0,0.50,1,1
1,C002,1.0,1.0,0.333333,1.0,0.5,1.000000,1.0,1,1.0,0.75,1,1
2,C003,1.0,1.0,1.000000,1.0,0.5,0.727273,0.5,1,0.8,0.75,1,1
3,C004,1.0,1.0,0.000000,1.0,0.0,0.363636,1.0,0,1.0,0.00,0,0
4,C005,1.0,1.0,0.333333,1.0,0.0,0.363636,0.5,1,0.8,0.00,0,0

In [24]:
pred

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [25]:
from sklearn.metrics import confusion_matrix
M=confusion_matrix(Y,pred)
M

array([[170,  82],
       [ 82, 206]], dtype=int64)

In [26]:
p_neur = (M[0,0]+M[1,1])/(M[0,0]+M[1,1]+M[0,1]+M[1,0])
print("准确度：",p_neur)

准确度： 0.6962962962962963